.legendDetail-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .legendInfo-container {
    width: 80%;
    height: 1200px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
  
    img {
      height: 100%;
      /* width: 100%; */
      /* object-fit: contain; */
    }

    div {
      position: absolute;
      right: 0;
      width: 50%;
      min-width: 350px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 20px;
      padding: 20px;
    }
  
  }

  .skills-container {
    background-color: rgb(17, 17, 17, 0.7);
    background-image: url('https://media.contentapi.ea.com/content/dam/apex-legends/common/apex-section-bg-legends-abilities-xl.jpg.adapt.1456w.jpg');
    background-size: cover;
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
      img {
        width: 350px;
      }

      p {
        color: whitesmoke;
        font-size: 20px;
        font-weight: bold;
      }

      h3 {
        color: #da292a;
      }
    }



  }
}

@media (max-width: 1300px) {
  .text-container {
    animation: color 1s;
    @keyframes color {
      
      to {background-color: rgb(11, 11, 11, 0.7);}
    }
  }
}


