<section class="legendDetail-container" *ngIf="myLegend">
  <div class="legendInfo-container">
    <img referrerpolicy="no-referrer" src="http://127.0.0.1:8090/api/files/{{myLegend?.collectionId}}/{{myLegend?.id}}/{{myLegend?.detail}}" alt="{{myLegend?.name}}">
    <div>
      <h2>{{myLegend?.name}}</h2>
      <p>{{myLegend?.info}}</p>
      <button (click)="deleteLegend()">Delete</button>
      <button>Update</button>
    </div>
  </div>
  <div class="skills-container">
    <div>
      <img referrerpolicy="no-referrer" src="http://127.0.0.1:8090/api/files/{{myLegend?.collectionId}}/{{myLegend?.id}}/{{myLegend?.tactic}}" >
      <h3>TACTICAL ABILITY</h3>
      <p>{{myLegend?.skills?.tactic}}</p>
    </div>
    <div>
      <img referrerpolicy="no-referrer" src="http://127.0.0.1:8090/api/files/{{myLegend?.collectionId}}/{{myLegend?.id}}/{{myLegend?.passive}}" >
      <h3>PASSIVE ABILITY</h3>
      <p>{{myLegend?.skills?.passive}}</p>
    </div>
    <div>
      <img referrerpolicy="no-referrer" src="http://127.0.0.1:8090/api/files/{{myLegend?.collectionId}}/{{myLegend?.id}}/{{myLegend?.ultimate}}" >
      <h3>ULTIMATE ABILITY</h3>
      <p>{{myLegend?.skills?.ultimate}}</p>
    </div>
  </div>
</section>
