<div class="form-container">
  <form [formGroup]="legendForm" (ngSubmit)="onSubmit()">
    <label>
      <p>Legend name</p>
      <input type="text" placeholder="Name" formControlName="name">
    </label>
    <label>
      <p>Card image</p>
      <input type="file" name="card" formControlName="card" (change)="onFileChange($event)">
    </label>
    <label>
      <p>Detail image</p>
      <input type="file" name="detail" formControlName="detail" (change)="onFileChange($event)">
    </label>
    <label>
      <p>Tactical</p>
      <input type="text" placeholder="Tactic ability" formControlName="tacticName">
      <input type="file" name="tactic" formControlName="tactic" (change)="onFileChange($event)">
    </label>
    <label>
      <p>Passive</p>
      <input type="text" placeholder="Passive ability" formControlName="passiveName">
      <input type="file" name="passive" formControlName="passive" (change)="onFileChange($event)">
    </label>
    <label>
      <p>Ultimate</p>
      <input type="text" placeholder="Ultimate ability" formControlName="ultimateName">
      <input type="file" name="ultimate" formControlName="ultimate" (change)="onFileChange($event)">
    </label>
    <label>
      <p>Legend bio</p>
      <textarea name="info" cols="60" rows="10" formControlName="info"></textarea>
    </label>
    <button>add</button>
  </form>
</div>