<div class="form-container">
  <form>
    <input type="text" placeholder="Name">
    <label>Card
      <input type="file">
    </label>
    <label>Detail
      <input type="file">
    </label>
    <label>Tactic
      <input type="text" placeholder="Tactic ability">
      <input type="file">
    </label>
    <label>Passice
      <input type="text" placeholder="Passive ability">
      <input type="file">
    </label>
    <label>Ultimate
      <input type="text" placeholder="Ultimate ability">
      <input type="file">
    </label>    
  </form>
</div>
